# Assignment1

In [8]:
print(type("hello"))
print(type(-45.66))
print(type(4))
print(type('spam'))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'str'>

In [10]:
bacon=20
bacon+=1
print(bacon)

21

In [11]:
print('spam'+'spamspam')
print('spam'*3)

spamspamspam
spamspamspam

# Assignment2

In [12]:
l=[]
print(type(l))

<class 'list'>

In [13]:
spam=[2,4,6,8,10]
spam[3]="hello"
spam

[2, 4, 6, 'hello', 10]

In [18]:
spam=['a','b','c','d']
spam[int(int('3' * 2) // 11)]

'd'

In [19]:
spam[-1]

'd'

In [20]:
spam[:2]

['a', 'b']

In [26]:
bacon=[3.14, 'cat', 11, 'cat', True]
print(bacon.index('cat'))
bacon.append(99)
bacon

1

[3.14, 'cat', 11, 'cat', True, 99]

In [28]:
bacon.remove('cat')
bacon

[3.14, 11, True, 99]

In [33]:
t=tuple('42')
print(type(t))

<class 'tuple'>

In [5]:
x=(42)  #expression y=x+(y+z*2)
print(type(x))

<class 'int'>

In [6]:
#type conversion
int('2253')

2253

In [7]:
float("4235.546") #only float value should pass

4235.546

# Assignment3

In [34]:
d={}
print(type(d))

<class 'dict'>

In [36]:
d={'foo':'42'}
d['foo']

'42'

In [39]:
spam={'bar':'100'}
spam['foo']

KeyError: 'foo'

In [40]:
spam.keys()

dict_keys(['bar'])

In [41]:
spam.values()

dict_values(['100'])

In [45]:
if 'color' not in spam:
    spam['color']='black'

In [46]:
print(dir(spam))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# Assignment4

In [55]:
print("this is \\ backshlash")

this is \ backshlash

In [56]:
print("Howl's Moving Castle")

Howl's Moving Castle

In [58]:
print(" Howl's isn’t escaped")

 Howl's isn’t escaped

In [59]:
print("hello \\n world ","pragati",sep='\n')

hello \n world
pragati

In [60]:
'Hello world!'[1]

'e'

In [61]:
'Hello world!'[0:5]

'Hello'

In [62]:
'Hello world!'[:5]

'Hello'

In [63]:
'Hello world!'[3:]

'lo world!'

In [64]:
'Hello'.upper()

'HELLO'

In [65]:
'Hello'.upper().isupper()

True

In [66]:
'Hello'.upper().lower()

'hello'

In [67]:
'Remember, remember, the fifth of November.'.split()

['Remember,', 'remember,', 'the', 'fifth', 'of', 'November.']

In [68]:
'-'.join('There can be only one.'.split())

'There-can-be-only-one.'

In [70]:
'       hello           '.strip()

'hello'

# Assignment5

In [71]:
(5 > 4) and (3 == 5)

False

In [72]:
not (5 > 4)

False

In [73]:
(5 > 4) or (3 == 5)

True

In [74]:
not ((5 > 4) or (3 == 5))

False

In [75]:
(True and True) and (True == False)

False

In [79]:
(not False) or (not True)

True

# Assignment6

In [77]:
def extendList(val, list=[]):
    list.append(val)
    return list

list1 = extendList(10)
list2 = extendList(123,[])
list3 = extendList('a')

print("list1 = %s" % list1)
print("list2 = %s" % list2)
print("list3 = %s" % list3)

list1 = [10, 'a']
list2 = [123]
list3 = [10, 'a']

In [78]:
def multipliers():
  return [lambda x : i * x for i in range(4)]
    
print([m(2) for m in multipliers()])

[6, 6, 6, 6]

In [80]:
class Parent(object):
    x = 1

class Child1(Parent):
    pass

class Child2(Parent):
    pass

print Parent.x, Child1.x, Child2.x
Child1.x = 2
print Parent.x, Child1.x, Child2.x
Parent.x = 3
print Parent.x, Child1.x, Child2.x

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(Parent.x, Child1.x, Child2.x)? (<ipython-input-80-40c223afecd6>, line 10)

In [81]:
def div1(x,y):
    print "%s/%s = %s" % (x, y, x/y)
    
def div2(x,y):
    print "%s//%s = %s" % (x, y, x//y)

div1(5,2)
div1(5.,2)
div2(5,2)
div2(5.,2.)

SyntaxError: invalid syntax (<ipython-input-81-6885ef45b802>, line 2)

In [83]:
list = [ [ ] ] * 5
list

[[], [], [], [], []]

In [85]:
list[0].append(10)
list

[[10], [10], [10], [10], [10]]

In [87]:
list[1].append(20)
list

[[10, 20, 20], [10, 20, 20], [10, 20, 20], [10, 20, 20], [10, 20, 20]]

In [89]:
list.append(30)
list

[[10, 20, 20], [10, 20, 20], [10, 20, 20], [10, 20, 20], [10, 20, 20], 30, 30]

In [3]:
i,j=map(int,(input("enter the m x n array1 values: ").split()))   #doubts
m,n=map(int,(input("enter the m x n array1 values: ").split()))
if i==m and j==n:
    a=0
    l1=[]
    l2=[]
    while a<i:
        print(f"for row {a} Enter the values: ")
        b=0
        while b<j:
            print(f"for colomn {b} Enter the values: ")
            l1.append(int(input())
            b+=1
        l2.append(l1)
        a+=1
print(l1)
print(l2)

enter the m x n array1 values: 3 4
enter the m x n array1 values: 3 4
for row 0 Enter the values:
for colomn 0 Enter the values:
4

TypeError: append() takes exactly one argument (2 given)

In [24]:
l=[]
l.append(2)
print(type(l[0]))

<class 'int'>

In [1]:
l=[]
k=0
print("enter two values: ")
while k<3:
    l.append(input())
    l.insert(k,l)
    k+=1
l

enter two values:
3
4
3

[[...], [...], [...], '3', '4', '3']

In [3]:
list1,list2,list3=['hello','welcome','to','python'],['test','your','knowledge'],["let's",'see','how','far','you','can','think']
print(list1+list2)

['hello', 'welcome', 'to', 'python', 'test', 'your', 'knowledge']

# Assignment7

In [8]:
num1,num2=map(int,input().split()) #program to find max between two numbers
if num1>num2:
    f=num1
else:
    f=num2
print(f"{f} is gratest number")

4 3
4 is gratest number

In [12]:
num1,num2,num3=map(int,input().split()) #prgram to find max between three numbers
if num1>num2 and num1>num3:
    f=num1
elif num2>num3:
    f=num2
else:
    f=num3
print(f"{f} is the greatest number")

2 4 3
4 is the greatest number

In [14]:
num=map(int(),input()) #doubt
if num > 0:
    print("positive")
elif num < 0:
    print("negative")
else:
    print("zero")

3

TypeError: '>' not supported between instances of 'map' and 'int'

In [17]:
num=int(input()) #number is positive,negative or zero 
if num > 0:
    print("positive")
elif num < 0:
    print("negative")
else:
    print("zero")

0
zero

In [19]:
num=int(input())   #program to find number divisible by 5 and 11 or not
if num%5==0 and num%11==0:
    print(f"{num} is divisible by 5 and 11")
else:
    print(f"{num} is not divisible by 5 and 11")

34
34 is not divisible by 5 and 11

In [22]:
num=int(input()) #odd or even number
if num%2:
    print("odd")
else:
    print("even")

45
odd

In [43]:
year=int(input()) #leap year or not
if year%4==0:
    if year%400==0:
        print("leap year")
    elif year%100==0:
        print("not leap year")
    else:
        print("leap year")
else:
    print("not leap year")

200
not leap year

In [50]:
n=input().lower() #program is alphabet or not
if n>'a' and n<'z':
    print("alphabet")
else:
    print("not alphabet")

K
alphabet

In [54]:
n=input().lower() #vowel or consonent
if n>'a' and n<'z':
    if n=='a'or n=='e'or n=='i'or n=='o'or n=='u':
        print("vowel")
    else:
        print("consonent")
else:
    print("not alphabet")

o
vowel

In [57]:
n=input().lower()   #alphabet ,digit or special character 
if n>'a'and n<'z':
    print("alphabet")
elif n>'0' and n<'9':
    print("digit")
else:
    print("special character")

U
alphabet

In [60]:
n=input()       #lower case and upper case 
if n>'A'and n<'Z':
    print("upper case letter")
elif n>'a'and n<'z':
    print("lower case letter")
else:
    print("not alphabet")

f
lower case letter

In [64]:
n=int(input())  #day if day number is given
if n==1:
    print("monday")
elif n==2:
    print("tuesday")
elif n==3:
    print("wednesday")
elif n==4:
    print("thursday")
elif n==5:
    print("friday")
elif n==6:
    print("saturday")
elif n==7:
    print("sunday")
else:
    print("!!!!!warning!!!!  not correct number")

0
!!!!!warning!!!!  not correct number

In [69]:
n=int(input("enter the number !!!  1-12   ")) # number of days in a month according to month number
if n==1 or n==3 or n==5 or n==7 or n==8 or n==10 or n==12:
    print("number of days are 31")
elif n==4 or n==6 or n==9 or n==11:
    print("number of days are 30")
else:
    print("number of days are either 28 or 29")

enter the number !!!  1-12   10
number of days are 31

In [72]:
a,b,c=map(int,input("enter the three angles of triangle:  ").split()) #validity of triangle on the basis of angles
if (a+b+c)==180:
    print("valid")
else:
    print("invalid")

enter the three angles of triangle:  60 60 60
valid

In [8]:
a,b,c=map(int,input("enter the three sides of triangle:  ").split()) #validity of triangle on the basis of side length
if (a+b)>c or (b+c)>a or (a+c)>b:
    print("valid")
else:
    print("invalid")

enter the three sides of triangle:  45 56 1
valid

In [7]:
a,b,c=map(int,input("enter the three angles of triangle:  ").split()) #triangle type
if (a+b+c)>180:
    print("isosceles triangle")
elif (a+b+c)<180:
    print("scalene triangle")
else:
    print("equilateral")

enter the three angles of triangle:  60 60 60
equilateral

In [86]:
a,b,c=map(int,input("enter the value of a,b,c :  ").split()) #quardatic equation
s=(b*b)-(4*a*c)
t=0.5
print((s**t)/(2*a)+b/(2*a))
print(b/(2*a)-(s**t)/(2*a))

enter the value of a,b,c :  1 4 4
2.0
2.0

In [17]:
m,n=map(int,input("enter two numbers:  ").split()) #profit and loss
if (m-n)>0:
    print("profit")
elif (m-n)<0:
    print("loss")
else:
    print("no profit no loss")

enter two numbers:  400 400
no profit no loss

In [1]:
print("maximum marks of each subject is 100: \n")  #grades according to marks
m1,m2,m3,m4,m5=map(int,input("enter the marks of five subjects:  ").split())
if m1<=100 and m2<=100 and m3<=100 and m4<=100 and m5<=100:
    if ((m1+m2+m3+m4+m5)/500*100) >=90:
        print("grade A")
    elif ((m1+m2+m3+m4+m5)/500*100) >=80:
        print("grade B")
    elif ((m1+m2+m3+m4+m5)/500*100) >=70:
        print("grade C")
    elif ((m1+m2+m3+m4+m5)/500*100) >=60:
        print("grade D")
    elif ((m1+m2+m3+m4+m5)/500*100) >=40:
        print("grade E")
    else:
        print("grade F")
else:
    print("invalid input,please enter valid input ")

maximum marks of each subject is 100:

enter the marks of five subjects:  100 100 100 90 100
grade A

In [2]:
basic_salary=int(input("enter the basic salary of employee:  ")) #salary of employee
if basic_salary<=10000:
    hra=basic_salary * .2
    da=basic_salary * .8
    print(basic_salary+hra+da)
elif basic_salary<=20000:
    hra=basic_salary * .25
    da=basic_salary * .9
    print(basic_salary+hra+da)
else:
    hra=basic_salary * .3
    da=basic_salary * .95
    print(basic_salary+hra+da)

enter the basic salary of employee:  30000
67500.0

In [2]:
unit=int(input("enter the eletricity unit:   ")) #calculate electricity bill
if unit<=50:
    print(unit*.50)
elif unit<=100:
    print(unit*.75)
elif unit<=200:
    print(unit*1.20)
else:
    print((unit*1.5)+(unit*.2))

enter the eletricity unit:   275
467.5

In [13]:
n=int(input("enter the amount in indian currency: ")) #program to calculate no. of notes in amount
if n>=10:
    print(f"no of notes of 10 in {n} is {n//10}")
    if n>=20:
        print(f"no of notes of 20 in {n} is {n//20}")
        if n>=50:
            print(f"no of notes of 50 in {n} is {n//50}")
            if n>=100:
                print(f"no of notes of 100 in {n} is {n//100}")
                if n>=200:
                    print(f"no of notes of 200 in {n} is {n//200}")
                    if n>=500:
                        print(f"no of notes of 500 in {n} is {n//500}")
                        if n>=2000:
                            print(f"no of notes of 2000 in {n} is {n//2000}")
else:
    print("no notes are available")

enter the amount in indian currency: 30000
no of notes of 10 in 30000 is 3000
no of notes of 20 in 30000 is 1500
no of notes of 50 in 30000 is 600
no of notes of 100 in 30000 is 300
no of notes of 200 in 30000 is 150
no of notes of 500 in 30000 is 60
no of notes of 2000 in 30000 is 15

# Assignment8

In [3]:
print("Hello World!")

Hello World!

In [5]:
n1,n2=map(int,input("enter two numbers:   ").split())#additon of two numbers
print(n1+n2)

enter two numbers:   2 3
5

In [14]:
b,h=map(int,input("enter the base and height of triangle:  ").split())#calculate area of triangle
print(0.5*b*h)

enter the base and height of triangle:  2 3
3.0

In [19]:
n=int(input("enter the number: ")) #square root of given number
print(n**0.5)

enter the number: 36
6.0

In [20]:
n1,n2=map(int,input("enter two numbers:  ").split()) #swapping by using third variable
t=n1
n1=n2
n2=t
print(f"numbers are after swapping {n1} and {n2}")

enter two numbers:  3 4
number are after swapping 4 and 3

In [21]:
n1,n2=map(int,input("enter two numbers:  ").split()) #swapping without using third variable
n1=n1+n2
n2=n1-n2
n1=n1-n2
print(f"numbers are after swapping {n1} and {n2}")

enter two numbers:  3 4
numbers are after swapping 4 and 3

In [26]:
from random import randint     #generation of random number
p1=randint(1,50)
print(f"generate random no between 1 to 50: {p1}")

generate random no between 1 to 50: 30

In [28]:
num=int(input("enter the number in kilometers: ")) #kilometer into miles 
print(f"{num} kilometer into miles are {num*0.621371}")

enter the number in kilometers: 2
2 kilometer into miles are 1.242742

In [30]:
temp=int(input("enter the temperature in celcius:   "))  #celcius into fahrenheit
f=(9/5*temp)+32
print(f)

enter the temperature in celcius:   1
33.8

In [13]:
n=int(input("enter the number:  "))   #calculate no is prime or not 
k=2
while k<=(n**.5)//2:
    if n%k==0:
        f=0
        break
    else:
        f=1
    k+=1
if f==1:
    print("prime")
else:
    print(" not prime")

enter the number:  17
prime

In [2]:
n1,n2=map(int,input("enter the interval:  ").split())    #doubts
f  = 0
while n1<n2:
    k=2
    if n1==1:
        print(f"the no. is neither composite or prime")
    while k<=(n1**.5)//2:
        if n1%k==0:
            f=0
            break
        else:
            f=1
        k+=1
    if f==1:
        print(f"the prime number is {n1}")
    n1+=1

enter the interval:  1 50
the no. is neither composite or prime
the prime number is 17
the prime number is 19
the prime number is 21
the prime number is 23
the prime number is 25
the prime number is 27
the prime number is 29
the prime number is 31
the prime number is 33
the prime number is 35
the prime number is 37
the prime number is 41
the prime number is 43
the prime number is 47
the prime number is 49

In [23]:
num=int(input("enter the number: "))  #factorial of number
f=1
while num>0:
    f*=num
    num-=1
print(f)

enter the number: 5
120

In [25]:
num=int(input("enter the number:  "))
f=1
while f<=10:
    print(f"{num} x {f} = {num*f}")
    f+=1

enter the number:  4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [20]:
num=int(input("enter the num at which you want to print series:   "))    #fabonacci sequence
k=0
while k<num:
    if k==0:
        print(k)
        s=k
    elif k==1:
        print(k)
        t=k
    else:
        l=s+t
        print(l)
        s=t
        t=l
    k+=1

enter the num at which you want to print series:   9
0
1
1
2
3
5
8
13
21

In [26]:
n=int(input("enter the number:  "))   #sum of natural number
if n > 0:
    s=0
    while n>0:
        s+=n
        n-=1
    print(f"the sum of natural number n is {s}")

enter the number:  2
the sum of natural number n is 3

In [9]:
num=int(input("enter the number:  ")) #armstrong number
t=num
s=0
while num>0:
    rem=num%10
    num//=10
    s+=1
num=t
n=0
while t>0:
    rem=t%10
    n+=(rem**s)
    print(n)
    if n==num:
        f=1
    t//=10
if f==1:
    print("armstrong number")
else:
    print("not armstrong number")

enter the number:  153
27
152
153
armstrong number

In [11]:
num1,num2=map(int,input("enter the interval:  ").split())   #armstrong in interval 
while num1<num2:                                            # doubts
    l=num1
    s=0
    while num1>0:
        rem=num1%10
        num1//=10
        s+=1
    num1=l
    print(f"the value of num1 is {num1}")
    n=0
    while l>0:
        rem=l%10
        n+=(rem**s)
        print(f"the value of n is {n}")
        if n == num1 :
            f=1
        l//=10
    if f==1:
        print(f"{num1} is armstrong number")
    else:
        print(f"{num1} is not armstrong number")
    num1+=1

enter the interval:  1 11
the value of num1 is 1
the value of n is 1
1 is armstrong number
the value of num1 is 2
the value of n is 2
2 is armstrong number
the value of num1 is 3
the value of n is 3
3 is armstrong number
the value of num1 is 4
the value of n is 4
4 is armstrong number
the value of num1 is 5
the value of n is 5
5 is armstrong number
the value of num1 is 6
the value of n is 6
6 is armstrong number
the value of num1 is 7
the value of n is 7
7 is armstrong number
the value of num1 is 8
the value of n is 8
8 is armstrong number
the value of num1 is 9
the value of n is 9
9 is armstrong number
the value of num1 is 10
the value of n is 0
the value of n is 1
10 is armstrong number

In [3]:
n1,n2=map(int,input("enter the numbers:  ").split()) # number divisible by another number or not
if n1%n2==0:
    print("number divisible by another number")
else :
    print("number not divisible by another number")

enter the numbers:  12 6
number divisible by another number

# Assignment9

In [3]:
num=int(input("enter the number:  "))  #to find quotient and remender
while num>0:
    rem=num%10
    num//=10
    print(f"the quotient is {num}")
    print(f"the remender is {rem}")

enter the number:  13
the quotient is 1
the remender is 3
the quotient is 0
the remender is 1

In [6]:
num=int(input("enter the number:   ")) #sum of the number of digits
s=0
while num>0:
    rem=num%10
    s+=rem
    num//=10
print(s)

enter the number:   1234
10

In [9]:
num=int(input("enter the number:   ")) #product of the number of digits
s=1
while num>0:
    rem=num%10
    s*=rem
    num//=10
print(s)

enter the number:   345
60

In [11]:
n=int(input("how many number you want to enter:   "))  #sum of entered number
print("enter the numbers: ")
s=0
while n>0:
    num=int(input())
    s+=num
    n-=1
print(s)

how many number you want to enter:   5
enter the numbers:
23
33
44
55
12
167

In [10]:
num=int(input("enter the binary number: ")) #binary into decimal
s=k=0
while num>0:
    rem=num%10
    s+=(2**k)*rem
    k+=1
    num//=10
print(s)

enter the binary number: 1100
12

In [ ]:
n1,n2=map(int,(input("enter the value:  ").split())